.curtain{
    width: 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
}
.stage {
    width: 100%;
    height: 100%;
    position: absolute;
}

.curtain-mini {
    width: 400px;
    height: 70px;
    position: relative;
    overflow: hidden;
}
.stage-mini {
    width: 100%;
    position: absolute;
}
.item-mini {
    height: 70px;
    width: 100px;
    font-weight: bold;
    color: white;
    background: #9A0;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
}
.item {
    border-radius: 15px;
    font-weight: bold;
    color: white;
    font-size: 1.5em;
    background: #9A0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}
.slider .navigation {
    top: 30px;
    z-index: 99;
    position: absolute;
}

.navigation div{
    border-radius: 25px;
    background: white;
    color: #9A0;
    height: 30px;
    font-size: 1em;
    text-align: center;
}
.navigation div:hover{
    background: #9A0;
    font-size: 1.5em;
    color: white;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
.slider-pager {
    width: 300px;
    list-style: none;
    display: inline;
}
.slider-pager-item {
    color: #9A0;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    padding: 5px;
    border: 2px solid #9A0;
    font-size: 1em;
    display: inline;
}
.slider-pager-item:hover {
    background: #9A0;
    color:white;
}